body {
    background-image: url('https://images.alphacoders.com/557/557241.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    margin: 0;
    margin-left: 200px;
    padding: 0;
}

#wrapper {
    width: 720px;
    margin: 0 auto;
}

#sidebar {
    margin-top: 200px;
    position: fixed;
    width: 160px;
    float: left;
    color: #a77dc2;
}

#sidebar .top {
    border: 1px solid #FE3B80;
    margin-top: 3px;
    border-radius: 7px;
    background: #ffb1cc;
    padding: 7px 7px 0px 7px;
    box-shadow: 0 0 11px rgba(255, 161, 238, 1);
}

#wrapper #sidebar .about {
    display: block;
    z-index: 999999999999;
    font-family: 'Inconsolata Variable', sans-serif;
    position: relative;
    text-align: center;
}

#sidebarbutton {
    color: #FFFFFF;
    border: 5px solid #a77dc2;
    width: 20%;
    background-color: #a77dc2;
    box-shadow: 0 0 11px rgba(255, 161, 238, 1);
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 10px 5px;
}

#wrapper #content {
    width: 420px;
    float: right;
}

#wrapper #content .post {
    border-radius: 7px;
    border: 1px solid #FE3B80;
    background: #ffb1cc;
    margin-top: 50px;
    font-family: bitxmap;
    color: #a77dc2;
    padding: 8px;
    position: relative;
    box-shadow: 0 0 11px rgba(255, 161, 238, 1);
}

#wrapper #content .post .copy {
    margin-top: -10px;
    color: #a77dc2;
    padding: 10px;
    font-size: 10px;
    line-height: 15px;
}

#header {
    font-family: 'Saira Variable', sans-serif;
    color: #FFFFFF;
    border: 1px solid #a77dc2;
    background-color: #a77dc2;
    box-shadow: 0 0 11px rgba(255, 161, 238, 1);
    text-align: center;
    margin-top: 2px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#wrapper .post .image {
    display: flex;
    /* align-items: stretch; */
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 5px;
    padding-bottom: 5px;
    overflow: hidden;
}

#wrapper #content .post .description {
    text-align: left;
    font-family: 'Inconsolata Variable', sans-serif;
    color: #9100ff;
    font-size: 16px;
    line-height: 16px;
    margin: 10px;
    padding-left: 9px;
    border-left: solid 2px #acacac;
}

#wrapper #content .footer_for_post {
    border-radius: 4px;
    background-color: #A77DC2;
    font-family: bitxmap;
    font-size: 10px;
    color: #FFFFFF;
    padding: 1px 3px;
    margin-top: 3px;
}